.form-control {
   background: yellow;
}
label {
   display: inline-block;
   margin: 10px 0;
}
input {
   border: 1px solid #dedede;
   border-radius: 4px;
   display: block;
   font-size: 16px;
   padding: 10px;
   width: 100%;
}
input:focus {
   outline: none;
}
.btn {
   background-color: orange;
   border-radius: 30px;
   cursor: pointer;
   display: block;
   border: 0px;
   margin: 10px 0 30px;
   padding: 10px;
   font-size: 16px;
   width: 100%;
}
